<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario registro</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
        .removed {
            color: red;
        }

        .removed label {
            text-decoration: overline;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                    <h2> Formulario </h2>
                    <form>
                        <div class="form-group">
                            <label for="name">No. Control:</label>
                            <input type="text" class="form-control" id="amount" placeholder="Número De control" v-model="numc">
                            </div>
                            <div class="form-group">
                            <label for="name">Nombre Completo</label>
                            <input type="text" class="form-control" id="amount" placeholder="Nombre Completo" v-model="nom">
                             </div>
                        <div class="form-group">
                            <label for="name">Edad</label>
                            <input type="number" class="form-control" id="people" placeholder="Edad" v-model="e" min="1">
                        </div>
                        <div class="form-group">
                            <label for="name">Semestre</label>
                            <input type="number" class="form-control" id="people" placeholder="Semestre" v-model="s" max="12" min="1">
                        </div>
                        <div>
                            <p>
                              <input type="radio" value="LA" v-model="c" id="la">
                              <label for="sinestudios">LA</label>
                            </p>        
                            <p>
                              <input type="radio" value="cp" v-model="c" id="cp">
                              <label for="primarios">CP</label>
                            </p>
                            <p>
                              <input type="radio" value="isc" v-model="c" id="isc">
                              <label for="secundarios">ISC</label>
                            </p>
                            <p>
                              <input checked type="radio" value="im" v-model="c" id="im">
                              <label for="universitarios">IM</label>
                            </p>
                            <p>
                                <input checked type="radio" value="iia" v-model="c" id="iia">
                                <label for="universitarios">IIA</label>
                              </p>
                          </div>
                          <div class="alert alert-success" role="alert">
                            Información : <strong>{{infoC}}</strong>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md">
                                    <div id="app">
                                        <h3>Añadir Materias y selecciona si es de especialidad</h3><br/>
                                        <input class="form-control" v-model="newItem" name="newItem" placeholder="Añade y da Enter" @keyup.enter="addItem" />
                                        <ul class="list-group">
                                            <li class="list-group-item" v-for="item in items" :class="{'removed' : item.checked}">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" v-model="item.checked">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                      {{item.text}}
                                                    </label>
                                                  </div>
                                            </li>
                                        </ul><br/>
                                        <br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>

            
                        
                    </form>
                </div>
            </div>
        </div>
    </div><!--Tercer tutorial pagina-->
</body>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
    data: { 
      numc: '',
      nom: '',
      e: '',
      s: '',
      c: '',
      items: [    
            ],
            newItem: '',
            actividad: '',
      actividades: [],
      edicion : false
      
    },
    methods:{
        addItem() {
                var text;

                text = this.newItem.trim();
                if(text){
                    this.items.push({text: this.newItem, checked: false});
                    this.newItem = ''
                }
        },
        actualizarLista: function() {
        this.actividades.push(this.actividad);
        this.actividad = '';
      }
            },
    computed:{
     infoC: function () {
        return this.numc + ' ' + this.nom+ ' ' + this.e + ' ' + this.s  + ' ' + this.c;
     }
    }
});
</script>

</html>